.container {
  width: 100%;
  min-width: 400px;
  background-color: whitesmoke;
  padding: 20px 20px;
  padding-bottom: 0;
}

.search_page_filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
}

.search_page_filter > h1 {
  margin-left: 10px;
}
