.container {
  width: 100%;
  background-color: whitesmoke;
  padding: 40px 20px;
  padding-bottom: 0;
}

.container > h2 {
  margin: 0 0 20px 5px;
}

.recommended_videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
